<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signora - Login</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body class="login-bg">
     
   
    <div class="login-container">

        <div class="login-header">
           <img src="/static/assets/logo.png" alt="Signora Logo" class="login-logo">
            <h1 class="app-title">Signora</h1>
            <p class="tagline">AI Sign Language Translator</p>
        </div>

        <!-- ================================
             LOGIN BOX (GLASSMORPHISM)
        ================================== -->
        <div class="login-box updated-login-box">
            <h2>Login</h2>

            <div class="input-group">
                <label>Email Address</label>
                <input type="email" placeholder="Enter your email" class="input-box">
            </div>
            <div class="input-group">
                <label>Password</label>
                <input type="password" placeholder="Enter your password" class="input-box">
            </div>

            <button onclick="window.location.href='/home'" class="login-btn">Login</button>

            <!-- Registration Link -->
            <p class="register-text">
                Don’t have an account? 
                <a href="#" class="register-link">Register</a>
            </p>
        </div>
    </div>

</body>
</html>