<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignOra | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="icon" href="/static/assets/logo.png">
</head>

<body class="login-bg">

<div class="login-container">

    <div class="login-header">
        <img src="/static/assets/logo.png" alt="Signora Logo" class="login-logo">
        <h1 class="app-title">SignOra</h1>

        <p class="tagline">AI Sign Language Translator</p>
    </div>

    <div class="login-box updated-login-box">
        <h2>Login</h2>

        <form action="/login" method="POST">
            <div class="input-group">
                <label>Email Address</label>
                <input type="email" name="email" placeholder="Enter your email" required class="input-box">
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required class="input-box">
            </div>

            <div class="show-password">
                <input type="checkbox" onclick="togglePassword()"> Show Password
            </div>

        
            <button type="submit" class="login-btn">Login</button>
        </form>

        <p class="register-text">
            Don’t have an account?
            <a href="/register" class="register-link">Register</a>
        </p>
    </div>

</div>

<script>
function togglePassword() {
    const pwd = document.getElementById("password");
    pwd.type = pwd.type === "password" ? "text" : "password";
}
</script>

</body>
</html>